{namespace ocean.onlineAI.OnlineAI.templates}
/**
 * OnlineAI mapBlock.
 */
{template .mapBlock}
<div class="mapBlock"></div>
{/template}
/**
 * OnlineAI mapArea.
 */
{template .mapArea}
<div class="mapArea"></div>
{/template}
/** 
 *
 */
{template .selectInput}
<div class="editbox">
  <select class="editboxselect"></select>
  <input type="text" class="editboxinput" />
</div>
{/template}
